/* Existing styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: white;
    background-color: #1E0342;
    padding: 10px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus, textarea:focus, select:focus {
    border-color: #4caf50;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Add styles for file input fields */
input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make the file input fields the same width as other form inputs */
    margin-bottom: 15px; /* Add spacing between each file input */
}

/* Style for file input focus state */
input[type="file"]:focus {
    border-color: #4caf50; /* Same focus color as other inputs */
}
/* Style for image frames */
.image-frame {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}
