h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.search-category input, .search-store input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.product-section, .store-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.product {
    display: inline-block;
    margin-right: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 1px #1E0342;
}

.hidden {
    display: none;
}

.nav-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%; /* Position the menu below the header */
    left: 0;
    background-color: #1E0342;
    text-align: center; 
    justify-content: center;
}


.nav-links nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links nav ul li {
    margin: 10px 0;
}

.nav-links nav ul li a {
    color: white;
    text-decoration: none;
}


@media only screen and (min-width: 767px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        position: static;
        text-align: left; /* Reset text alignment for larger screens */
        justify-content: flex-end;
    }

    .nav-links nav ul {
        flex-direction: row;
        align-items: center;
        background-color: transparent; 
    }

    .nav-links nav ul li {
        margin-right: 20px;
    }

    .nav-links nav ul li:last-child {
        margin-right: 0;
    }
}