body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.store,
.product {
    display: inline-block;
    margin-right: 20px;
}

.store img,
.product img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 1px #1E0342;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    padding: 10px;
    border: solid 1px #1E0342;
}

.web-name {
    flex-grow: 1; 
    text-align: center;
    margin: 0 auto;
}

.web-name p {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

footer {
    background-color: #1E0342;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

.store p,
.product p {
    text-align: center;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#view-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1E0342;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#view-more-btn:hover {
    background-color: #2b0d53;
}

#show-less-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1E0342;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#show-less-btn:hover {
    background-color: #2b0d53;
}

.product img {
    width: 100%;
    height: auto;
}


.product:hover {
    transform: translateY(-5px);
    /* Move the product up by 5 pixels on hover */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.product p {
    margin: 5px 0;
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Display ellipsis (...) for overflowed text */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.product-name {
    color: #1E0342;
    font-weight: bold;
}

.product-price {
    color: red;
}

.new-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}