body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E0342;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.store,
.product {
    display: inline-block;
    margin-right: 20px;
}

.store img,
.product img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 1px #1E0342;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    padding: 10px;
    border: solid 1px #1E0342;
}

.web-name {
    width: auto;
    flex-grow: 1;
    text-align: center;
}

.web-name p {
    white-space: nowrap;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

footer {
    background-color: #1E0342;
    color: white;
    padding: 20px;
    text-align: center;
}

footer nav ul li {
    display: inline;
    margin-right: 10px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

.store p,
.product p {
    text-align: center;
}

/* Add your CSS styles for product sections and items here */
.product-section {
    margin-bottom: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.product img {
    width: 100%;
    height: auto;
}


.product:hover {
    transform: translateY(-5px);
    /* Move the product up by 5 pixels on hover */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.product p {
    margin: 5px 0;
    overflow: hidden;
    /* Hide overflowing text */
    text-overflow: ellipsis;
    /* Display ellipsis (...) for overflowed text */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.product-name {
    color: #1E0342;
    font-weight: bold;
}

.product-price {
    color: red;
}


.nav-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    /* Position the menu below the header */
    left: 0;
    background-color: #1E0342;
    text-align: center;
    justify-content: center;
}


.nav-links nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links nav ul li {
    margin: 10px 0;
}

.nav-links nav ul li a {
    color: white;
    text-decoration: none;
}


.new-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (min-width: 767px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        position: static;
        text-align: left;
        /* Reset text alignment for larger screens */
        justify-content: flex-end;
    }

    .nav-links nav ul {
        flex-direction: row;
        align-items: center;
        background-color: transparent;
    }

    .nav-links nav ul li {
        margin-right: 20px;
    }

    .nav-links nav ul li:last-child {
        margin-right: 0;
    }

    .new-products {
        justify-content: center;
        align-items: center;
    }
}