/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

#cart {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.cart-item {
    display:flex;
    align-items:center;
    margin-bottom: 10px;
}

.cart-item label {
    margin-right: 10px;
}

#total-price {
    margin-top: 20px;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.delete-product{
    margin-left:10px;
    cursor:pointer;
}
