body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.account_label {
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

#storeFields {
    display: none;
}

#storeOwner:checked~#storeFields {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-columns {
    display: flex;
    flex-wrap: wrap;
}

.form-columns .form-group {
    flex-basis: calc(50% - 10px);
    margin-right: 20px;
}

.form-columns .form-group:last-child {
    margin-right: 0;
}